.ordination-list__link{
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: var(--medium-grey);
    text-decoration: none;
}

.ordination-list__link--active {
    color: var(--highlight-green);
    font-weight: 500;
    text-decoration: underline;
}

.ordination-list {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    margin-bottom: 32px;
}