section.container-filter ul li {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    font-size: 18px;
    padding: 0.25em 0.5em;
    border: 4px;
}

.container-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.container-filter ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.container-filter button {
    border: none;
    background-color: var(--light-gray);
    color: var(--medium-grey);
    font-family: var(--font-family);
    font-size: 18px;
    padding: 0.25em 0.5em;
}

@media (max-width: 768px) {
    .container-filter {
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container-filter ul {
        justify-content: center;
    }

    .container-filter ul li {
        font-size: 16px;
        padding: 0.25em 0.5em;
    }

    .container-filter button {
        font-size: 16px;
        padding: 0.25em 0.5em;
    }
}

@media (max-width: 400px) {
    .container-filter {
        flex-direction: row;
        gap: 0.3em;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .container-filter ul {
        gap: 0.3em;
    }

    .container-filter ul li {
        font-size: 14px;
        padding: 0.2em 0.3em;
    }

    .container-filter button {
        font-size: 14px;
        padding: 0.2em 0.3em;
        
    }
}