aside {
    background-color: var(--dark-gray);
    padding: 2.5em 1em;
    width: 177px;
    border-radius: 7px;

}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    list-style-type: none;
    margin-top: 5em;

}

.sidebar-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    gap: 10px;
}

.link__item {
    color: var(--light-gray);
    text-decoration: none;
}

.link__item--active {
    color: var(--white);
}


.link__item-post {
    border: 1px solid var(--highlight-green);
    color: var(--highlight-green);
    padding: 0.75em 1em;
    border-radius: 8px;
    text-decoration: none;

}


@media (max-width: 768px) {
    aside {
        width: 100%;
        padding: 1.5em 1em;
        text-align: center;


    }

    .sidebar-list {
        display: flex;
        flex-direction: row;
        gap: 1em;
        margin-top: 2em;
        justify-content: center;
    }

    .sidebar-list li a {
        font-size: 18px;
        gap: 8px;
    }

    .link__item-post {
        font-size: 16px;
        padding: 0.5em 0.75em;
    }
}

@media (max-width: 400px) {
    aside {
        width: 100%;
        padding: 0.8em;
        text-align: center;
    }

    .sidebar-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.8em;
        list-style: none;
        padding: 0;
    }

    .sidebar-list li a {
        font-size: 14px;
        gap: 4px;
        text-align: center;
    }

    .link__item-post {
        font-size: 12px;
        padding: 0.4em 0.6em;
        text-align: center;
    }
}