:root {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  --highlight-green: #81FE88;
  --font-family: 'Prompt', sans-serif;
  --petroleum-green: #132E35;
  --graphite: #01080E;
  --dark-gray: #171D1F;
  --medium-gray: #888888;
  --gray: #3E3E3F;
  --light-gray: #BCBCBC;
  --off-white: #E1E1E1;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--graphite);
  font-family: var(--font-family);
}
